.Effects {
  display: flex;
}
.Effect {
  border: 1px solid var(--medium-grey);
  box-sizing: border-box;
}

.Effects .Select {
  position: absolute;
}

#distortion {
  width: 302px;
  height: 601px;
}

.smallBar {
  height: 51px;
  width: 300px;
  position: relative;

  &::after {
    /* margin-top: 19px; */
    position: absolute;
    /* left: 28px; */
    display: block;
    content: '';
    top: 50px;
    width: 300px;
    height: 1px;
    background: var(--medium-grey);
  }
}

.smallBar div {
  display: flex;
  align-items: center;
  width: 260px;
  margin-left: 20px;
  padding-top: 16px;
  justify-content: space-between;
  /* height: 20px; */
}

.smallBar p {
  width: 14px;
  height: 14px;
  background-image: image-url('Cross.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.smallBar span {
  font-size: 16px;
  font-weight: 500;
  height: 20px;
  text-transform: uppercase;
}
.effectControls {
  width: 180px;
  height: 246px;
  margin-left: 60px;
  margin-top: 90px;
}
.effectHeading {
  margin-bottom: 12px;
}

.effectMiddleHeading {
  margin-top: 24px;
  margin-bottom: 12px;
}

.effectHeading:last-of-type {
  margin-top: 24px;
  margin-bottom: 12px;
}

.effectControls h2 {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 12px;
}

.mediumBar {
  height: 51px;
  width: 512px;
  position: relative;

  &::after {
    /* margin-top: 19px; */
    position: absolute;
    /* left: 28px; */
    display: block;
    content: '';
    top: 50px;
    width: 512px;
    height: 1px;
    background: var(--medium-grey);
  }
}

.mediumBarContainer {
  display: flex;
  align-items: center;
  width: 470px;
  margin-left: 20px;
  padding-top: 16px;
  justify-content: space-between;
  /* height: 20px; */
}

.mediumBar p {
  width: 14px;
  height: 14px;
  background-image: image-url('Cross.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.mediumBar span {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

.chorusEffectControlsContainer {
  display: flex;
  width: 390px;
  margin-left: 60px;
  margin-top: 80px;
  justify-content: space-between;
}
