.Effects {
  display: flex;
  height: 600px;
}
.Effect {
  border: 1px solid var(--medium-grey);
  box-sizing: border-box;
  border-left: 0px;
}

.Effects .Select {
  position: absolute;
}

#distortion {
  width: 302px;
  height: 601px;
}

.smallBar {
  height: 51px;
  width: 300px;
  position: relative;

  &::after {
    /* margin-top: 19px; */
    position: absolute;
    /* left: 28px; */
    display: block;
    content: '';
    top: 50px;
    width: 300px;
    height: 1px;
    background: var(--medium-grey);
  }
}

.smallBar div {
  display: flex;
  align-items: center;
  width: 260px;
  margin-left: 20px;
  padding-top: 16px;
  justify-content: space-between;
  /* height: 20px; */
}

.smallBar p {
  width: 14px;
  height: 14px;
  background-image: image-url('Cross.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.smallBar span {
  font-size: 14px;
  font-weight: 500;
  height: 20px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
.narrowEffectControls {
  width: 180px;
  height: 246px;
  margin-left: 60px;
  margin-top: 90px;
}
.effectHeading {
  margin-bottom: 12px;
  margin-top: 24px;
}

.effectMiddleHeading {
  margin-top: 24px;
  margin-bottom: 12px;
}

.effectHeading:first-of-type {
  margin-top: 6px;
  margin-bottom: 12px;
}

.effectControls h2 {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 12px;
}

.mediumBar {
  height: 51px;
  width: 512px;
  position: relative;

  &::after {
    /* margin-top: 19px; */
    position: absolute;
    /* left: 28px; */
    display: block;
    content: '';
    top: 50px;
    width: 512px;
    height: 1px;
    background: var(--medium-grey);
  }
}

.mediumBarContainer {
  display: flex;
  align-items: center;
  width: 470px;
  margin-left: 20px;
  padding-top: 16px;
  justify-content: space-between;
  height: 31px;
  padding-top: 17px;
}

.mediumBar p {
  width: 14px;
  height: 14px;
  background-image: image-url('Cross.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.mediumBar span {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}

.middleEffectControlsContainer {
  display: flex;
  width: 390px;
  margin-left: 60px;
  margin-top: 104px;
  justify-content: space-between;
}

#firstInAutoFilter {
  margin-top: 30px;
}

#secondInAutoFilter {
  margin-top: 22px;
}

.autoFilterMiddleEffectControlsContainer {
  display: flex;
  width: 390px;
  margin-left: 60px;
  margin-top: 74px;
  justify-content: space-between;
}

.autoWahMiddleEffectControlsContainer {
  display: flex;
  width: 390px;
  margin-left: 60px;
  margin-top: 104px;
  margin-right: 60px;
  justify-content: space-between;
}

.subEffectHeading {
  font-size: 18px;
  font-weight: bold;
}

.largeBar {
  height: 51px;
  width: 661px;
  position: relative;

  &::after {
    /* margin-top: 19px; */
    position: absolute;
    /* left: 28px; */
    display: block;
    content: '';
    top: 50px;
    width: 661px;
    height: 1px;
    background: var(--medium-grey);
  }
}

.autoFilterLargeEffectControlsContainer {
  display: flex;
  padding-left: 30px;
  padding-top: 85px;
  /* width: 570px; */
  justify-content: space-between;
  padding-right: 60px;
}

.largeEffectControls:last-of-type {
  margin-top: 8px;
}

.autoFilterLargeEffectControlsContainer .subEffectHeading {
  margin-top: 25px;
}

.largeEffectControls:first-of-type {
  display: flex;
  flex: wrap;
  width: 360px;
  flex-wrap: wrap;
  height: 100px;
}

.largeBar p {
  width: 14px;
  height: 14px;
  background-image: image-url('Cross.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.largeBarContainer {
  display: flex;
  align-items: center;
  width: 622px;
  margin-left: 20px;
  padding-top: 16px;
  justify-content: space-between;
  height: 31px;
  padding-top: 17px;
}

.largeBar span {
  font-size: 14px;
  font-weight: 500;
  height: 20px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

#bitCrusher .Knob {
  margin-top: 20px;
}

#chebyshev .Knob {
  margin-top: 20px;
}
#freeverb .Knob {
  margin-top: 20px;
}

.phaserMiddleEffectControlsContainer {
  display: flex;
  width: 390px;
  margin-left: 60px;
  margin-top: 104px;
  margin-right: 60px;
  justify-content: space-between;
}

.phaserMiddleEffectControlsContainer .middleEffectControls:last-of-type {
  margin-top: -36px;
}

.addButtonsContainer {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 30px;
  height: 500px;
  flex-direction: column;
  margin-right: 240px;
}

.addButtonsContainer .AddButtonMedium {
  margin-bottom: 30px;
}

.effectsBar {
  height: 52px;
  width: 661px;
  position: relative;
  border: 1px solid var(--medium-grey);
  box-sizing: border-box;
  border-left: 0px;
  border-right: 0px;
}

.effectsBar div {
  display: flex;
  align-items: center;
  width: 260px;
  margin-left: 20px;
  padding-top: 16px;
  justify-content: space-between;
  /* height: 20px; */
}

.effectsBar span {
  font-size: 14px;
  font-weight: 500;
  height: 20px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
