.Mixer {
  height: 50px;
  border-top: 1px solid var(--medium-grey);
  // overflow-y: hiddesn;
  // padding-left: 180px;
  .MixerBar {
    // overflow-y: hidden;

    width: auto;
    padding-left: 20px;
    // padding-right: 120px;
    height: 50px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    border-bottom: 1px solid var(--medium-grey);

    // &::after {
    //   /* margin-top: 19px; */
    //   position: absolute;
    //   left: 0px;
    //   display: block;
    //   content: '';
    //   top: 97px;
    //   width: 192px;
    //   height: 1px;
    //   background: var(--medium-grey);
    // }
  }
}

.mixerBody {
  // overflow-y: auto;

  display: flex;
  flex-direction: column;
  width: auto;
  .instrumentNames {
    display: flex;
    height: 50px;
    border-bottom: 1px solid var(--medium-grey);
    width: auto;
    align-items: center;

    .parts {
      display: flex;
      width: 205px;
      border-right: 1px solid var(--medium-grey);
      height: 100%;
      align-items: center;
      justify-content: center;
    }
  }
  .content {
    display: flex;
  }
}

#mixerContainer {
}
