.AddButtonMedium {
  color: var(--acid-green);
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.AddButtonMedium:hover {
  color: var(--dark-green);
  .AddButtonMediumCircle {
    background-color: var(--dark-green);
  }
  cursor: pointer;
}

.AddButtonMediumCircle {
  width: 24px;
  height: 24px;
  background-color: var(--acid-green);
  border-radius: 100px;
  position: relative;

  &::before,
  &::after {
    position: absolute;
    top: 11px;
    left: 5px;
    display: block;
    content: '';
    background: var(--black);
    width: 14px;
    height: 2px;
  }

  &::after {
    transform: rotate(90deg);
  }
}

.AddButtonMedium span {
  margin-left: 8px;
  // display: inline-block;
  width: 150px;
}

.AddButtonLarge {
  color: var(--acid-green);
  font-weight: bold;
  font-size: 36px;
  display: flex;
  align-items: center;
}

.AddButtonLarge:hover {
  color: var(--dark-green);
  .AddButtonLargeCircle {
    background-color: var(--dark-green);
  }
  cursor: pointer;
}

.AddButtonLargeCircle {
  width: 45px;
  height: 45px;
  background-color: var(--acid-green);
  border-radius: 100px;
  position: relative;
  &::before {
    position: absolute;
    top: 9px;
    left: 20.53px;
    display: block;
    content: '';
    width: 4.03px;
    height: 25.62px;
    background: var(--black);
  }

  &::after {
    position: absolute;
    top: 19.66px;
    left: 10px;
    width: 25.62px;
    height: 4.03px;
    display: block;
    content: '';
    background: var(--black);
  }
}

.AddButtonLarge span {
  margin-left: 8px;
}
