.ButtonSet {
  font-size: 18px;
  color: var(--medium-grey);
  padding: 8px 23px 9px;
  margin-top: 16px;
  margin-left: 30px;
  font-weight: bold;

  .ToggleButton {
    font-size: 14px;
    background-color: var(--white);
    padding: 9px 17px 11px;
    width: 139px;
    height: auto;

    color: var(--black);
    text-transform: capitalize;
    &.on {
      color: var(--dark-green);
    }

    & + .ToggleButton {
      margin-top: 20px;
    }
  }
}
