.select {
  margin-top: 16px;
  user-select: none;
}

.select.on .selectCurrent {
  &::after {
    transform: rotate(0deg);
  }
}

.selectCurrent {
  background-color: var(--black);
  width: 150px;
  height: 30px;
  border: 1px solid var(--white);
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 300;
  display: flex;
  &::after {
    display: block;
    width: 10px;
    height: 10px;
    content: '';
    background-image: image-url('SelectTriangle.svg');
    background-repeat: no-repeat;
    margin-left: 10px;
    margin-top: 10px;
    transform: rotate(180deg);
  }
}

.selectCurrent span {
  display: block;
  margin-top: 5px;
  margin-left: 15px;
  width: 104px;
  height: 20px;
}

.openedList {
  position: absolute;
  z-index: 100;
}

.openedSelect {
  height: 30px;
  width: 150px;
  padding-left: 15px;
  padding-top: 5px;
  color: var(--black);
  background-color: var(--white);
}

.openedSelect:hover {
  color: var(--black);
  background-color: var(--dark-green);
  cursor: pointer;
}
