.Menubar {
  height: 50px;
  padding: 0 20px;
  border-bottom: 1px solid var(--medium-grey);
  overflow-x: hidden;
  padding-top: 12px;
  .menuBarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .control {
      display: flex;
      align-items: center;
    }

    .logo {
      width: 136px;
      height: 25px;
      background-image: image_url('logo.svg');
    }

    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .AddButtonMedium {
        span {
          width: 109px;
        }
      }

      .SimpleButton {
        margin-left: 20px;
      }
      .logIn {
        margin-left: 20px;
      }
    }
  }
}

#mixerContainer .Menubar {
  border-bottom: 0px solid var(--medium-grey);
}

#mixerContainer .menuBarContainer {
}
